
body {
	background-color: white;

}
.container {
	width: 350px;
	height: 520px;
	box-shadow: 0 0 5px .5px rgba(0,0,0,.45);
	margin: auto;
	margin-top: 5%;
	display: grid;
	background-color: white;
}

.numBox {
	width: 310px;
	height: 70px;
	margin: auto;
	margin-top: 15px;
	padding: 5px;
	font-size: 30px;
	color:  #ff9900;

}
table {
	margin: auto;
	margin-top: 0;
	padding: 0;


}

.number,
.operator {
	width: 75px;
	height: 75px;
	cursor: pointer;
	border-radius: 50%;
	border-width: 0;
	font-size: 22px;
	font-weight: 2;
	font-family: arial;
	text-align: center;
}

.rowspan {
	padding-top: 60px;
	padding-bottom: 90px;
	border-radius: 20%;
	
}

.colspan {
	padding-right: 80px;
	padding-left: 70px;
	border-radius: 20%;
}

.operator {
	background-color:  #ff9900;
}

.number:hover, .operator:hover {
	background-color: #ffcc99;

}
